@model List<projectShopLaptop.DAL.Tbl_Category>
@{
    ViewBag.Title = "Danh mục";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/AdminStyle/css/Cate.css" rel="stylesheet" />
<div class="p-3">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
        <i class="bi bi-plus-circle-fill"></i> Tạo danh mục mới
    </button>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Thêm danh mục mới</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="InputName" class="form-label">Tên danh mục</label>
                            <input name="name" type="text" class="form-control" id="InputName">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                            <button type="button" class="btn btn-primary" onclick="AddCate()">Thêm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>
<table class="table">

    <thead>
        <tr>
            <th scope="col">Sr. No.</th>
            <th scope="col">Tên danh mục</th>
            <th scope="col">Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="viewRow-@item.CategoryId">
                <th scope="row">@item.CategoryId</th>
                <td>@item.CategoryName</td>

                <td scope="col">
                    <button id="edit" type="button" class="btn btn-secondary" onclick="editItem(@item.CategoryId)">
                        <i class="bi bi-pencil-square"></i> Sửa
                    </button>
                </td>
            </tr>
            <tr id="editRow-@item.CategoryId" style="display:none;">
                <th scope="row">@item.CategoryId</th>
                <td>
                    <input type="text" id="categoryName-@item.CategoryId" value="@item.CategoryName" class="form-control" />
                </td>

                <td scope="col">
                    <button type="button" id="save" class="btn btn-secondary" onclick="updateItem(@item.CategoryId)">
                        <i class="bi bi-save"></i> Lưu
                    </button>
                    <button type="button" id="cancel" class="btn btn-danger" onclick="cancelEdit(@item.CategoryId)">
                        <i class="bi bi-x-circle"></i> Hủy
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>