@model projectShopLaptop.DAL.Tbl_User

@{
    ViewBag.Title = "CustomerAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/AdminStyle/css/CustomerAdd.css" rel="stylesheet" />

@using (Html.BeginForm("CustomerAdd", "Admin", FormMethod.Post, new { enctype = "multipart/form-data"})) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <h2>Thêm tài khoản khách hàng</h2>
    <hr />
    <div class="form-group">
        <div class="col-md-12">
            @Html.LabelFor(model => model.Name, "Tên hiển thị", htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
        <br>
        <div class="col-md-12">
            @Html.LabelFor(model => model.UserName, "Tài khoản", htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EmailId, "Email", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-12">
            @Html.EditorFor(model => model.EmailId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            @Html.LabelFor(model => model.Password, "Mật khẩu", htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-md-12">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-12">
            <input type="submit" value="Thêm tài khoản" class="btn btn-default" />
        </div>
    </div>
</div>
}

