@model projectShopLaptop.DAL.Tbl_Product

@{
    ViewBag.Title = "ProductEdit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/AdminStyle/css/ProductEdit.css" rel="stylesheet" />
<div class="container">
    @using (Html.BeginForm("ProductEdit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(model => model.ProductId, new { htmlAttributes = new { @class = "form-control" } })

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ProductName, "Tên Sản Phẩm", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                    </div>
                </div>

                @{
                    List<SelectListItem> data = ViewBag.CategoryList;
                }
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.CategoryId, "Danh mục", htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.CategoryId, data, "--Select--", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ProductImage, "Hình ảnh", htmlAttributes: new { @class = "control-label" })
                        <input type="file" name="file" id="file" style="width: 100%;" accept="image/*" onchange="previewImage(event)" />
                        <!-- Hình ảnh hiện tại -->
                        <img id="currentImage" src="@Url.Content("~/img/" + Model.ProductImage)" class="img-thumbnail" width="150" style="margin-top: 10px;" />
                        <!-- Hình ảnh được chọn -->
                        <img id="preview" src="" class="img-thumbnail" width="150" style="margin-top: 10px; display: none;" />
                        @Html.ValidationMessageFor(model => model.ProductImage, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Quantity, "Số lượng", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Price, "Giá tiền", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Lưu" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<script>
    function previewImage(event) {
        const input = event.target;
        const preview = document.getElementById('preview');
        const currentImage = document.getElementById('currentImage');

        // Kiểm tra xem có tệp nào đã được chọn hay không
        if (input.files && input.files[0]) {
            const reader = new FileReader();

            reader.onload = function(e) {
                // Hiển thị hình ảnh được chọn
                preview.src = e.target.result;
                preview.style.display = 'block'; // Hiện hình ảnh được chọn
                currentImage.style.display = 'none'; // Ẩn hình ảnh hiện tại
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
