@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    /* Style cho container chính */
    .container {
        max-width: 500px;
        margin: 50px auto;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    /* Logo */
    .logo img {
        display: block;
        margin: 0 auto 20px;
        width: 50px;
    }

    .form.login {
        text-align: center;
    }

        .form.login p {
            margin-bottom: 15px;
        }

        .form.login label {
            font-weight: bold;
            color: #333;
        }

        .form.login input[type="text"],
        .form.login input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            border: 1px solid #ddd;
            border-radius: 4px;
        }

        .form.login button[type="submit"] {
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 4px;
            font-weight: bold;
            cursor: pointer;
        }

            .form.login button[type="submit"]:hover {
                background-color: #0056b3;
            }

    /* Style cho thông báo lỗi */
    .text-danger {
        color: red;
        font-weight: bold;
    }

    /* Footer */
    .container-fluid {
        background-color: #333;
        color: #aaa;
    }

        .container-fluid h5 {
            color: #ddd;
        }

        .container-fluid p,
        .container-fluid a {
            color: #bbb;
            text-decoration: none;
        }

            .container-fluid a:hover {
                color: #fff;
            }

        .container-fluid .input-group {
            margin-top: 10px;
        }

    .btn-primary.btn-square {
        width: 36px;
        height: 36px;
        border-radius: 4px;
    }

    .input-group .form-control {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .input-group-append .btn {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    /* Bottom footer */
    .row.border-top {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        padding: 15px 0;
    }

</style>
    <div class="container">
        <div class="form login">
            <a class="logo" href="@Url.Action("Index", "Home")">
                <img src="~/img/logoLogin.png" alt="Logo" />
            </a>
            <form role="form" method="post">
                @if (ViewBag.ResendEmail != null && ViewBag.ResendEmail == true)
                {
                    <div class="alert alert-warning">
                        <p>@ViewBag.ErrorMessage</p>
                        @Html.ActionLink("Gửi lại mail, click vào đây", "ResendConfirmationEmail", "Home", new { email = ViewBag.UserEmail }, new { @class = "btn btn-link", onclick = "return confirm('Bạn có chắc chắn muốn gửi lại email xác nhận không?');" })
                    </div>
                }
                <p>
                    <label style="display: flex; align-items:center">Nhập tài khoản đăng nhập<span>*</span></label>
                    <input class="form-control" placeholder="Username" name="user" type="text" required autofocus>
                </p>
                <p>
                    <label style="display: flex; align-items:center">Nhập mật khẩu<span>*</span></label>
                    <input class="form-control" placeholder="Password" name="password" type="password" required>
                </p>
                <p class="text-danger">
                    @TempData["error"]
                </p>
                <p>
                    <label style="display: flex; align-items: center;">
                        <a href="@Url.Action("Registe", "Home")">Tạo tài khoản mới</a>
                    </label>
                    <label style="display: flex; align-items: center;">
                        <a href="@Url.Action("ForgotPassword", "Home")">Quên mật khẩu</a>
                    </label>
                    <button type="submit">Đăng nhập</button>
                </p>
            </form>
        </div>
    </div>
    <div class="container-fluid bg-dark text-secondary mt-5 pt-5">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <h5 class="text-secondary text-uppercase mb-4">Hỗ Trợ - Dịch Vụ</h5>
                <p class="mb-4">
                    Chính sách và hướng dẫn mua hàng trả góp
                    <br> Hướng dẫn mua hàng và chính sách vận chuyển
                    <br> Tra cứu đơn hàng
                    <br> Chính sách đổi mới và bảo hành
                    <br> Dịch vụ bảo hành mở rộng
                    <br> Chính sách bảo mật
                    <br> Chính sách giải quyết khiếu nại
                    <br> Quy chế hoạt động
                </p>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>123 Street, New York, USA</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>luongducquy20041117@gmail.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 6789</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">Thông Tin Liên Hệ</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Thông tin các trang TMĐT</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Khách hàng doanh nghiệp (B2B)</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Tra cứu bảo hành</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">Dịch Vụ Và Thông Tin Khác</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Chính sách bảo mật thông tin cá nhân</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Chính sách Bảo hành</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Liên hệ hợp tác kinh doanh</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Dịch vụ bảo hành mở rộng</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">ĐĂNG KÝ NHẬN KHUYẾN MÃI</h5>
                        <form action="">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Your Email Address">
                                <div class="input-group-append">
                                    <button class="btn btn-primary">Sign Up</button>
                                </div>
                            </div>
                        </form>
                        <h6 class="text-secondary text-uppercase mt-4 mb-3">Follow Us</h6>
                        <div class="d-flex">
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left text-secondary">
                    &copy; <a class="text-primary" href="#">Domain</a>. Designed
                    by
                    <a class="text-primary" href="https://htmlcodex.com">DucQuys</a>
                </p>
            </div>
            <div class="col-md-6 px-xl-0 text-center text-md-right">
                <img class="img-fluid" src="~/img/payments.png" alt="">
            </div>
        </div>
    </div>