@using projectShopLaptop.Models
@using projectShopLaptop.Models.Home
@model projectShopLaptop.DAL.Tbl_User
@{
    ViewBag.Title = "Thanh toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/AdminStyle/css/Pay.css" rel="stylesheet" />
@if (Session["cart"] == null)
{
    <div class="alert alert-danger">
        <strong>No product added to cart!</strong>
    </div>
}
else
{
    var cart = (List<Item>)Session["cart"];
    if (cart != null)
    {
        <section class="main-container col2-right-layout">
            <div class="main container">
                <div class="row">
                    <div class="col-main col-sm-12 col-xs-12">
                        <div class="page-title">
                            <h2>Thanh toán</h2>
                        </div>
                        <div class="page-content checkout-page">
                            <h6 class="checkout-sep">1. Tóm tắt đơn hàng</h6>
                            <div class="box-border">
                                <div class="table-responsive">
                                    <table class="table table-bordered cart_summary" id="tbl_cart">
                                        <thead>
                                            <tr>
                                                <th>Tên sản phẩm</th>
                                                <th>Giá</th>
                                                <th>Số lượng</th>
                                                <th>Tổng tiền</th>
                                            </tr>
                                        </thead>
                                        <tbody class="cart_body">
                                            @{
                                                int total = 0;
                                            }
                                            @foreach (var item in cart)
                                            {
                                                if (item != null && item.Product != null)
                                                {
                                                    int tienSP = Convert.ToInt32(item.Quantity * item.Product.Price);
                                                    total += tienSP;
                                                    <tr>
                                                        <td>@item.Product.ProductName</td>
                                                        <td>@string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C0}", item.Product.Price)</td>
                                                        <td>@item.Quantity</td>
                                                        <td>@string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C0}", tienSP)</td>
                                                    </tr>
                                                }
                                                {
                                                    ViewBag.TotalAmount = total;
                                                }
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="2"></td>
                                                <td><strong>Tổng giá đơn hàng</strong></td>
                                                <td>@string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C0}", total)</td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>

                            <h6 class="checkout-sep">2. Phương thức thanh toán</h6>
                            <div class="box-border">
                                <form>
                                    <ul>
                                        <li class="row">
                                            <div class="col-sm-6">
                                                <label class="required">Thanh toán khi nhận hàng</label>
                                            </div>
                                        </li>
                                        <li class="row">
                                            <div class="col-sm-6">
                                                <label>Hoặc</label>
                                            </div>
                                        </li>
                                        <li class="row">
                                            <div class="col-sm-6">
                                                <a href="@Url.Action("VnPay", "Home", new { Tongtien = total, Name = ViewBag.Name, Address = ViewBag.Address, PhoneNumber = ViewBag.PhoneNumber })" class="btn btn-primary">PAY WITH CARD</a>
                                            </div>
                                        </li>
                                    </ul>
                                </form>
                            </div>
                            <h6 class="checkout-sep">3. Thông tin giao hàng</h6>
                            <div class="box-border">
                                <form action="@Url.Action("Checkout", "Home")" method="post">
                                    <ul>
                                        <li class="row">
                                            <div class="col-sm-6">
                                                <label for="Name" class="required">Tên</label>
                                                <input class="input form-control" id="txt_name_cod" type="text" name="Name" value="@ViewBag.Name" required>
                                            </div>
                                        </li>
                                        <li class="row">
                                            <div class="col-sm-6">
                                                <label for="Address" class="required">Địa chỉ</label>
                                                <input class="input form-control" id="txt_address_cod" type="text" name="Address" value="@ViewBag.Address" required>
                                            </div>
                                        </li>
                                        <li class="row">
                                            <div class="col-sm-6">
                                                <label for="PhoneNumber" class="required">Số điện thoại</label>
                                                <input class="input form-control" id="txt_phone_cod" type="text" name="PhoneNumber" value="@ViewBag.PhoneNumber" required>
                                            </div>
                                        </li>
                                    </ul>
                                    <button type="submit" class="btn btn-primary">Đặt hàng</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
}
